body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.full {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.highlight{
    height: 200px;
    color: rgb(104, 77, 221, 0.6)
}

.highlight:hover {
    color: rgb(104, 77, 221, 1);
    transition-duration: 500ms;
}

.highlight_2:hover {
    color: rgb(18, 0, 99);
}